
.body{
  margin-top: 50px;
  
}

.carousel {
  position: relative;
  width: 100%;
  height: 410px;
  overflow: hidden;
  
}

.carousel__container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; 
}

.carousel__slide--current {
  transform: translateX(0%);
}

.carousel__slide--next {
  transform: translateX(100%);
}

.carousel__slide--prev {
  transform: translateX(-100%);
}

.carousel__indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #999;
  cursor: pointer;
}

.carousel__indicator--active {
  background-color: #333;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
  

.card {
  border-radius: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.card:hover,
.card:focus {
  transform: translateY(-8px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.521);
}

.card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card_description {
  padding: 6px;
 color: rgb(0, 0, 0);  
 line-height: 1.4;
} 



 